In [1]:
people = {
    "first" : ["Pratyush", "Eyeronic", "Cache"], 
    "last" : ["Srivastava", "Gentleman", "Carti"],
    "email" : ["Prats@email.com", "Eyeronic@email.com", "Slatt@email.com"]
}

In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

      first        last               email
0  Pratyush  Srivastava     Prats@email.com
1  Eyeronic   Gentleman  Eyeronic@email.com
2     Cache       Carti     Slatt@email.com

In [6]:
df['first'] + ' ' + df['last']

0    Pratyush Srivastava
1     Eyeronic Gentleman
2            Cache Carti
dtype: object

In [7]:
df['full_name'] = df['first'] + ' ' + df['last']

In [8]:
df

      first        last               email            full_name
0  Pratyush  Srivastava     Prats@email.com  Pratyush Srivastava
1  Eyeronic   Gentleman  Eyeronic@email.com   Eyeronic Gentleman
2     Cache       Carti     Slatt@email.com          Cache Carti

In [10]:
df.drop(columns = ['first', 'last'], inplace = True)

In [11]:
df

                email            full_name
0     Prats@email.com  Pratyush Srivastava
1  Eyeronic@email.com   Eyeronic Gentleman
2     Slatt@email.com          Cache Carti

In [14]:
df['full_name'].str.split(' ', expand = True)

          0           1
0  Pratyush  Srivastava
1  Eyeronic   Gentleman
2     Cache       Carti

In [15]:
df[['first', 'last']] = df['full_name'].str.split(' ', expand = True)

In [16]:
df

                email            full_name     first        last
0     Prats@email.com  Pratyush Srivastava  Pratyush  Srivastava
1  Eyeronic@email.com   Eyeronic Gentleman  Eyeronic   Gentleman
2     Slatt@email.com          Cache Carti     Cache       Carti

In [19]:
df.append({'first' : 'King'}, ignore_index = True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [22]:
people = {
    "first" : ["Bella", "Ayeronic"], 
    "last" : ["Humble", "Marshall"],
    "email" : ["Humbly@bella.com", "marshall@eye.com"]
}
df2 = pd.DataFrame(people)

In [23]:
df2

      first      last             email
0     Bella    Humble  Humbly@bella.com
1  Ayeronic  Marshall  marshall@eye.com

In [29]:
df.append(df2, ignore_index = True, sort = False)

AttributeError: 'DataFrame' object has no attribute 'append'

In [30]:
df

                email            full_name     first        last
0     Prats@email.com  Pratyush Srivastava  Pratyush  Srivastava
1  Eyeronic@email.com   Eyeronic Gentleman  Eyeronic   Gentleman
2     Slatt@email.com          Cache Carti     Cache       Carti