In [12]:
import pandas as pd
import numpy as np

In [23]:
people = {
    "first" : ["Pratyush", "Eyeronic", np.nan ,"Cache", "Frank", "NA", None], 
    "last" : ["Srivastava", "Gentleman", np.nan ,"Carti" , "Ocean", "Missing", np.nan],
    "email" : ["Prats@email.com", "Eyeronic@email.com", np.nan, "Slatt@email.com", None, np.nan, "Anonymous@mail.com"],
    "age" : ['20', '24', None, '27', '36', 'Missing', None]
}

In [37]:
df = pd.DataFrame(people)

df.replace('NA', np.nan, inplace = True)
df.replace('Missing', np.nan, inplace = True)

In [38]:
df

      first        last               email   age
0  Pratyush  Srivastava     Prats@email.com    20
1  Eyeronic   Gentleman  Eyeronic@email.com    24
2       NaN         NaN                 NaN  None
3     Cache       Carti     Slatt@email.com    27
4     Frank       Ocean                None    36
5       NaN         NaN                 NaN   NaN
6      None         NaN  Anonymous@mail.com  None

In [39]:
df.dropna()

      first        last               email age
0  Pratyush  Srivastava     Prats@email.com  20
1  Eyeronic   Gentleman  Eyeronic@email.com  24
3     Cache       Carti     Slatt@email.com  27

In [40]:
df.dropna(axis = 'index', how = 'all', subset = ['last', 'email'])

      first        last               email   age
0  Pratyush  Srivastava     Prats@email.com    20
1  Eyeronic   Gentleman  Eyeronic@email.com    24
3     Cache       Carti     Slatt@email.com    27
4     Frank       Ocean                None    36
6      None         NaN  Anonymous@mail.com  None

In [41]:
df.isna()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2   True   True   True   True
3  False  False  False  False
4  False  False   True  False
5   True   True   True   True
6   True   True  False   True

In [43]:
df.fillna(0)

      first        last               email age
0  Pratyush  Srivastava     Prats@email.com  20
1  Eyeronic   Gentleman  Eyeronic@email.com  24
2         0           0                   0   0
3     Cache       Carti     Slatt@email.com  27
4     Frank       Ocean                   0  36
5         0           0                   0   0
6         0           0  Anonymous@mail.com   0

In [44]:
df.dtypes

first    object
last     object
email    object
age      object
dtype: object

In [46]:
df['age'].mean()

TypeError: can only concatenate str (not "int") to str

In [47]:
type(np.nan)

float

In [49]:
df['age'] = df['age'].astype(float)

In [50]:
df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [52]:
df['age'].mean()

26.75