In [1]:
people = {
    "first" : ["Pratyush", "Eyeronic", "Cache"], 
    "last" : ["Srivastava", "Gentleman", "Carti"],
    "email" : ["Prats@email.com", "Eyeronic@email.com", "Slatt@email.com"]
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

      first        last               email
0  Pratyush  Srivastava     Prats@email.com
1  Eyeronic   Gentleman  Eyeronic@email.com
2     Cache       Carti     Slatt@email.com

In [19]:
filt = (df['last'] == 'Gentleman') | (df['first'] == 'Cache')

In [21]:
df.loc[~filt, 'email']

0    Prats@email.com
Name: email, dtype: object