In [1]:
people = {
    "first" : ["Pratyush", "Eyeronic", "Cache"], 
    "last" : ["Srivastava", "Gentleman", "Carti"],
    "email" : ["Prats@email.com", "Eyeronic@email.com", "Slatt@email.com"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

      first        last               email
0  Pratyush  Srivastava     Prats@email.com
1  Eyeronic   Gentleman  Eyeronic@email.com
2     Cache       Carti     Slatt@email.com

In [6]:
df['email']

0       Prats@email.com
1    Eyeronic@email.com
2       Slatt@email.com
Name: email, dtype: object

In [9]:
df.set_index('email', inplace = True)

In [10]:
df

                       first        last
email
Prats@email.com     Pratyush  Srivastava
Eyeronic@email.com  Eyeronic   Gentleman
Slatt@email.com        Cache       Carti

In [11]:
df.index

Index(['Prats@email.com', 'Eyeronic@email.com', 'Slatt@email.com'], dtype='object', name='email')

In [13]:
df.loc['Slatt@email.com', 'last']

'Carti'

In [14]:
df.reset_index(inplace = True)

In [15]:
df

                email     first        last
0     Prats@email.com  Pratyush  Srivastava
1  Eyeronic@email.com  Eyeronic   Gentleman
2     Slatt@email.com     Cache       Carti