In [1]:
people = {
    "first" : ["Pratyush", "Eyeronic", "Cache"], 
    "last" : ["Srivastava", "Gentleman", "Carti"],
    "email" : ["Prats@email.com", "Eyeronic@email.com", "Slatt@email.com"]
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

      first        last               email
0  Pratyush  Srivastava     Prats@email.com
1  Eyeronic   Gentleman  Eyeronic@email.com
2     Cache       Carti     Slatt@email.com

In [6]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [8]:
df.columns = ['first_name', 'last_name' , 'email']

In [9]:
df

  first_name   last_name               email
0   Pratyush  Srivastava     Prats@email.com
1   Eyeronic   Gentleman  Eyeronic@email.com
2      Cache       Carti     Slatt@email.com

In [26]:
df.columns = [x.lower() for x in df.columns]

In [27]:
df

  first_name   last_name               email
0   Pratyush  Srivastava     Prats@email.com
1   Eyeronic   Gentleman  Eyeronic@email.com
2      Cache       Carti     Slatt@email.com

In [28]:
df.rename(columns = {'first_name':'first', 'last_name':'last'}, inplace = True)

In [29]:
df

      first        last               email
0  Pratyush  Srivastava     Prats@email.com
1  Eyeronic   Gentleman  Eyeronic@email.com
2     Cache       Carti     Slatt@email.com

In [31]:
df.loc[2] = ['Cache', 'Carti' , 'Cash@email.com']

In [32]:
df

      first        last               email
0  Pratyush  Srivastava     Prats@email.com
1  Eyeronic   Gentleman  Eyeronic@email.com
2     Cache       Carti      Cash@email.com

In [37]:
df.loc[2, ['last', 'email']] = ['Carti' , 'Slatt@email.com']

In [38]:
df

      first        last               email
0  Pratyush  Srivastava     Prats@email.com
1  Eyeronic   Gentleman  Eyeronic@email.com
2     Cache       Carti     Slatt@email.com

In [39]:
df.loc[2, 'last'] = 'Evil'

In [40]:
df

      first        last               email
0  Pratyush  Srivastava     Prats@email.com
1  Eyeronic   Gentleman  Eyeronic@email.com
2     Cache        Evil     Slatt@email.com

In [48]:
filt = (df['email'] == 'Slatt@email.com')

In [50]:
df[filt]['last'] = 'Evil'

C:\Users\Asus\AppData\Local\Temp\ipykernel_17492\1011811399.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last'] = 'Evil'

In [51]:
df.loc[filt, 'last'] = 'Evil'

In [54]:
df['email'] = df['email'].str.lower()

In [55]:
df

      first        last               email
0  Pratyush  Srivastava     prats@email.com
1  Eyeronic   Gentleman  eyeronic@email.com
2     Cache        Evil     slatt@email.com

In [57]:
df['email'].apply(len)

0    15
1    18
2    15
Name: email, dtype: int64

In [63]:
def update_email(email):
    return email.upper()

In [64]:
df['email'].apply(update_email)

0       PRATS@EMAIL.COM
1    EYERONIC@EMAIL.COM
2       SLATT@EMAIL.COM
Name: email, dtype: object

In [65]:
df['email'] = df['email'].apply(update_email)

In [66]:
df

      first        last               email
0  Pratyush  Srivastava     PRATS@EMAIL.COM
1  Eyeronic   Gentleman  EYERONIC@EMAIL.COM
2     Cache        Evil     SLATT@EMAIL.COM

In [67]:
df['email'] = df['email'].apply(lambda x:x.lower())

In [68]:
df

      first        last               email
0  Pratyush  Srivastava     prats@email.com
1  Eyeronic   Gentleman  eyeronic@email.com
2     Cache        Evil     slatt@email.com

In [69]:
df['email'].apply(len)

0    15
1    18
2    15
Name: email, dtype: int64

In [72]:
df.apply(len, axis = 'columns')

0    3
1    3
2    3
dtype: int64

In [71]:
len(df['email'])

3

In [73]:
df.apply(pd.Series.min)

first                 Cache
last                   Evil
email    eyeronic@email.com
dtype: object

In [75]:
df.apply(lambda x:x.max())

first           Pratyush
last          Srivastava
email    slatt@email.com
dtype: object

In [78]:
df.applymap(len)

C:\Users\Asus\AppData\Local\Temp\ipykernel_17492\1485728669.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(len)

   first  last  email
0      8    10     15
1      8     9     18
2      5     4     15

In [80]:
df.applymap(str.lower)

C:\Users\Asus\AppData\Local\Temp\ipykernel_17492\357608748.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(str.lower)

      first        last               email
0  pratyush  srivastava     prats@email.com
1  eyeronic   gentleman  eyeronic@email.com
2     cache        evil     slatt@email.com

In [83]:
df['first'].map({ 'Eyeronic' : 'Ayeronic', 'Cache' : 'Playboi'})

0         NaN
1    Ayeronic
2     Playboi
Name: first, dtype: object

In [85]:
df['first'] = df['first'].replace({ 'Eyeronic' : 'Ayeronic', 'Cache' : 'Playboi'})

In [86]:
df

      first        last               email
0  Pratyush  Srivastava     prats@email.com
1  Ayeronic   Gentleman  eyeronic@email.com
2   Playboi        Evil     slatt@email.com