In [7]:
people = {
    "first" : ["Pratyush", "Eyeronic", "Cache", "Playboi"], 
    "last" : ["Srivastava", "Gentleman", "Carti" , "Carti"],
    "email" : ["Prats@email.com", "Eyeronic@email.com", "Cash@email.com", "Slatt@email.com"]
}

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(people)

In [10]:
df

      first        last               email
0  Pratyush  Srivastava     Prats@email.com
1  Eyeronic   Gentleman  Eyeronic@email.com
2     Cache       Carti      Cash@email.com
3   Playboi       Carti     Slatt@email.com

In [11]:
df.sort_values(by = 'last', ascending = False)

      first        last               email
0  Pratyush  Srivastava     Prats@email.com
1  Eyeronic   Gentleman  Eyeronic@email.com
2     Cache       Carti      Cash@email.com
3   Playboi       Carti     Slatt@email.com

In [12]:
df.sort_values(by = ['last', 'first'] , ascending = False)

      first        last               email
0  Pratyush  Srivastava     Prats@email.com
1  Eyeronic   Gentleman  Eyeronic@email.com
3   Playboi       Carti     Slatt@email.com
2     Cache       Carti      Cash@email.com

In [14]:
df.sort_values(by = ['last', 'first'] , ascending = [False, True], inplace = True)

In [15]:
df

      first        last               email
0  Pratyush  Srivastava     Prats@email.com
1  Eyeronic   Gentleman  Eyeronic@email.com
2     Cache       Carti      Cash@email.com
3   Playboi       Carti     Slatt@email.com

In [16]:
df.sort_index()

      first        last               email
0  Pratyush  Srivastava     Prats@email.com
1  Eyeronic   Gentleman  Eyeronic@email.com
2     Cache       Carti      Cash@email.com
3   Playboi       Carti     Slatt@email.com

In [17]:
df['last'].sort_values()

2         Carti
3         Carti
1     Gentleman
0    Srivastava
Name: last, dtype: object